/* ==========================================================================
   EDI THEME - DARK VERSION
   ========================================================================== */
/* Dark theme for the site */
html[data-theme="dark"] {
  @include edi-theme-variables;
}
