/* ==========================================================================
   EDI THEME - LIGHT VERSION
   ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #007288 !default;
$background                 : #041E42 !default;
$background-light           : #004F71 !default;
$text                      : #e8f5f3 !default;
$text-muted                : #b8d5d1 !default;
$link                      : #A50034 !default;
$link-dark                 : mix(#000, $link, 25%) !default;
$link-light                : mix(#fff, $link, 25%) !default;
$footer                    : #041E42 !default;
$border                    : #007288 !default;
$border-light              : #004F71 !default;
$background-lighter        : mix(#fff, $background, 90%) !default;

/* Color codes used for the site */
$danger-color               : #e74c3c;
$info-color                 : #4effd9;
$notice-color               : #30e3ca;
$success-color              : #2ecc71;
$warning-color              : #f39c12;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

@mixin edi-theme-variables {
  --global-base-color                 : #{$primary-color};
  --global-bg-color                   : #{$background};
  --global-footer-bg-color            : #{$footer};
  --global-border-color               : #{$border};
  --global-dark-border-color          : #{$border-light};
  --global-code-background-color      : #{$background-light};
  --global-code-text-color            : #{$text-muted};
  --global-fig-caption-color          : #{$text-muted};
  --global-link-color                 : #{$link};
  --global-link-color-hover           : #{$link-dark};
  --global-link-color-visited         : #{$link-light};
  --global-masthead-link-color        : #{$text};
  --global-masthead-link-color-hover  : #{$primary-color};
  --global-text-color                 : #{$text};
  --global-text-color-light           : #{$text-muted};
  --global-thead-color                : #{$background-lighter};

  footer {
    color: #{$text};
  }
}

/* Light theme defaults for the site */
:root {
  @include edi-theme-variables;
}
